.App {
  text-align: center;
  justify-content: center;

}


.App-link {
  color: #61dafb;
}

.App-container {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.background{
  background: linear-gradient(#82ffa1, #430089);
  width:100%;
  height:100%;
}
.gif-container {
  display: flex;
  flex-flow:row wrap;
  justify-content: space-between;
  flex-basis: 33%;

}
.Title {
  margin-top:0;
}

.gif {
  height:300px;
  width:300px;
  padding:50px;
  margin-bottom: 100px;
}

.gifMobile {
  height:100px;
  width:100px;
  padding:10px;
  margin-bottom: 10px;
}

.loading-button{
  height:40px;
  width:80px;
  margin-bottom: 100px;

}


.Search {
  margin-bottom:100px;
}

.Input{
  margin-bottom:100px;
}




